@inherits LayoutComponentBase

@using Syncfusion.Blazor;

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups

<div class="page">
    <NavMenu />
    <div class="main main-content">
        <div class="content px4">
            @Body
        </div>
    </div>
</div>
